
@app.route('/login', methods=['GET', 'POST'])
def login():
    error = None
    if request.method == 'POST':
        username = request.form['username']
        password = request.form['password']
        users = load_users()
        user = next((u for u in users if u['username'] == username), None)

        print("Zadáno:", username)
        print("Nalezený uživatel:", user)

        if not user:
            error = 'Uživatel nenalezen.'
        elif user['status'] != 'approved':
            print("Status:", user['status'])
            error = 'Váš účet čeká na schválení.'
        elif not check_password_hash(user['password'], password):
            print("Hash hesla:", user['password'])
            print("Heslo zadáno:", password)
            print("Ověření hash:", check_password_hash(user['password'], password))
            error = 'Nesprávné heslo.'
        else:
            print("Přihlášení úspěšné.")
            session['user'] = username
            if user['role'] == 'admin':
                return redirect(url_for('admin_dashboard'))
            else:
                return redirect(url_for('index'))

    return render_template('login.html', error=error)
